* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-black: #191921;
  --text-black: #000;
  --white: #fff;
  --red: #f94f4f;
}

/* Fonts */
@font-face {
  font-family: 'Commissioner-ExtraBold';
  src: url('./fonts/Commissioner/static/Commissioner-ExtraBold.ttf');
  format: 'true-type';
}

@font-face {
  font-family: 'Commissioner-Regular';
  src: url('../fonts/Commissioner/static/Commissioner-Regular.ttf');
  format: 'true-type';
}

/* Base Styles */
h1 {
  font-family: 'Commissioner-Regular';
  font-size: 5rem;
  line-height: 5.5rem;
}

h2 {
  font-family: 'Commissioner-ExtraBold';
  font-size: 3.5rem;
  line-height: 4rem;
}

h3 {
  font-family: 'Commissioner-ExtraBold';
  font-size: 1.25rem;
  line-height: 2rem;
}

p {
  font-family: 'Commissioner-Regular';
  font-size: 1.125rem;
  line-height: 2rem;
}

/* Top Navigation */
.logo {
  margin-left: 8rem;
}

.nav-container,
.links-container {
  display: flex;
  width: 96.8%;
  align-items: center;
}

.nav-container {
  height: 8rem;
  justify-content: space-between;
}

.links-container {
  margin-left: 27rem;
  background-color: var(--red);
  width: 100%;
  padding: 3rem 9rem;
}

.links-container ul {
  display: flex;
  margin: 0 5rem 0 0;
}

.links-container li {
  list-style-type: none;
  margin-right: 1.5rem;
}

.links-container a {
  font-family: 'Commissioner-Regular';
  font-size: 1rem;
  color: var(--white);
  text-decoration: none;
}

.schedule-button {
  padding: 0.5rem 4.5rem;
  background-color: var(--bg-black);
  color: var(--white);
  border: none;
  width: 100%;
}

/* Header */
.header-container {
  display: flex;
}

.header-text-left {
  margin: 15rem 0 0 6rem;
  width: 40%;
  z-index: 1000;
}

.header-text-left h1 {
  font-family: 'Commissioner-Regular';
  font-size: 5rem;
  line-height: 5.5rem;
  font-size: 4rem;
}

.header-text-left p {
  margin: 2rem 0;
  font-size: 1.125rem;
  line-height: 2rem;
  width: 99%;
}

.header-image-right {
  height: 60rem;
  width: 100%;
  margin-left: -20rem;
  background: url(../assets/desktop/image-hero.jpg) no-repeat 0 0;
  background-position: top;
  background-size: cover;
  z-index: 0;
}

.header-button {
  width: 40%;
  margin: 1rem 0;
  margin-bottom: 4rem;
  padding: 1rem 2rem;
  background-color: var(--red);
  color: var(--white);
  border: none;
}

/* Design is Strategic */
.strategic-design {
  display: flex;
  background-color: var(--bg-black);
}

.strategic-image-left {
  background: url(../assets/desktop/image-strategic.jpg) no-repeat 0 0;
  background-position: bottom;
  background-size: cover;
  height: 50rem;
  width: 50%;
  z-index: 0;
}

.text-container {
  margin: 8rem 0 0 12rem;
}

.strategic-text-right {
  width: 52%;
  background-color: var(--bg-black);
}

.strategic-text-right h2 {
  width: 42%;
  color: var(--white);
  font-size: 3.5rem;
  line-height: 4rem;
}

.strategic-text-right p {
  color: var(--white);
  width: 70%;
  padding: 2rem 0;
  margin: 1rem 2rem;
}

.strategic-text-right a {
  color: var(--red);
  text-underline-offset: 0.75rem;
  margin-left: 2rem;
}

span {
  font-family: 'Commissioner-ExtraBold';
  color: var(--red);
}

/* Approach */
.approach {
  display: flex;
  padding-left: 3rem;
  padding-bottom: 0;
  background-color: var(--white);
}

.approach-title h2 {
  font-family: 'Commissioner-Regular';
  margin-bottom: 1.5rem;
  width: 80%;
}

.approach-title {
  margin: 7rem -20rem 0 8rem;
  z-index: 1000;
  color: var(--black);
  width: 50%;
  letter-spacing: 0.015rem;
}

.approach-number {
  font-family: 'Commissioner-ExtraBold';
  font-size: 4rem;
  opacity: 25%;
  margin: -2.5rem;
}

.approach-list {
  width: 35%;
  height: 35rem;
  padding: 15rem;
  margin-top: -10rem;
  background-color: var(--red);
  color: var(--white);
  z-index: 0;
}

.approach-list li {
  list-style-type: none;
}

.approach p {
  margin-bottom: 4rem;
  width: 60%;
}

/* Slideshow Section */
.Container {
  display: flex;
}

.info-left {
  height: 25rem;
  background-color: var(--bg-black);
  color: var(--white);
  margin-right: -15rem;
  width: 50%;
  z-index: 1000;
}

.info-left h2 {
  font-family: 'Commissioner-Regular';
  margin: 6rem 0 2rem 8rem;
  width: 60%;
}

.image-right-1 {
  background: url('../assets/desktop/image-slide-1.jpg') no-repeat;
  background-size: cover;
  height: 35rem;
  width: 60%;
  margin-left: 10rem;
}

.image-right-2 {
  background: url('../assets/desktop/image-slide-2.jpg') no-repeat;
  background-size: cover;
  height: 35rem;
  width: 60%;
  margin-left: 10rem;
}

.image-right-3 {
  background: url('../assets/desktop/image-slide-3.jpg') no-repeat;
  background-size: cover;
  height: 35rem;
  width: 60%;
  margin-left: 10rem;
}

.slideshow-controls {
  margin: 1rem 6rem;
}

.back {
  margin: 5rem 0 0 1rem;
}

.back,
.forward {
  color: var(--red);
}

.image-right {
  margin-left: 5rem;
}

/* Footer */
.footer-container {
  display: flex;
  margin: 3rem 0;
  align-items: center;
  /* 'align-items: center' prevents button from stretching */
}

.footer-title {
  width: 60%;
  margin: 3rem 10rem;
}

.footer-title h2 {
  font-family: 'Commissioner-Regular';
  font-size: 3.5rem;
  line-height: 4rem;
}

.footer-button {
  padding: 1rem 3rem;
  width: 30%;
  background-color: var(--red);
  color: var(--white);
  border: none;
  margin-left: 10rem;
}

.icon {
  display: inline-block;
  width: 16.3px;
  height: 13.45px;
  overflow: hidden;
}
